body {
  margin: 0;
  background-color: rgb(20, 14, 27);
}

.scroll-container{
    scroll-behavior: smooth;
}
.scroll-container::-webkit-scrollbar{
  height: 8px; /* thickness of horizontal scrollbar */
  
}
.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* scrollbar thumb color */
  border-radius: 4px;
  cursor: pointer;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}